In [1]:
#import library 
import pandas as pd

In [4]:
# Find the API url for JSON and add it here! 
# We are starting out with the Urban Park Ranger Animal Condition Response - Data from May through October

url = 'https://data.cityofnewyork.us/resource/s3vf-x992.json'

# Load the JSON into a dataframe. 
df = pd.read_json(url)

# View the first five
df.head()

,_311sr_number,acc_intake_number,age,animal_class,animal_condition,animal_monitored,borough,call_source,date_and_time_of_initial,date_and_time_of_ranger,...,final_ranger_action,hours_spent_monitoring,location,of_animals,pep_response,police_response,property,rehabilitator,species_description,species_status
0,1-1-1619568601,42420,Juvenile,Domestic;#Birds,Injured,0.0,Queens,Employee,2018-09-24T11:00:00.000,2018-09-24T11:30:00.000,...,ACC,NaN,Comfort Station Near 73rd Avenue and Francis L...,1.0,0.0,0.0,Cunningham Park,NaN,Chicken,Domestic
1,NaN,NaN,Adult,Small Mammals-RVS,NaN,0.0,Queens,Central,2018-09-23T12:45:00.000,2018-09-23T12:50:00.000,...,Unfounded,NaN,Behind the barn,0.0,0.0,0.0,Southern Stables,NaN,Raccoon,Native
2,1-1-1620474184,NaN,Adult,Small Mammals-RVS,Injured,0.0,Queens,Central,2018-09-21T18:30:00.000,2018-09-22T10:30:00.000,...,Unfounded,NaN,73rd Street & Springfield Avenue,1.0,0.0,0.0,Alley Pond Park,NaN,raccoon,Native
3,NaN,NaN,Adult,Small Mammals-RVS,N/A,0.0,Brooklyn,Public,2018-09-21T09:00:00.000,2018-09-21T10:30:00.000,...,Unfounded,NaN,NaN,1.0,0.0,0.0,Bedford Playground,NaN,N/A,Native
4,1-1-1618901740,NaN,Juvenile,Birds,Unhealthy,0.0,Manhattan,"Conservancies/""Friends of"" Groups",2018-09-20T14:00:00.000,2018-09-20T14:10:00.000,...,Rehabilitator,NaN,"Harlem Meer, 106 street and 5 Avenue",1.0,0.0,0.0,Central Park,Wild Bird Fund,Double crested cormorant,Native

In [33]:
# get all the columns to get a sense for what we have
df.columns

Index(['_311sr_number', 'acc_intake_number', 'age', 'animal_class',
       'animal_condition', 'animal_monitored', 'borough', 'call_source',
       'date_and_time_of_initial', 'date_and_time_of_ranger',
       'duration_of_response', 'esu_response', 'final_ranger_action',
       'hours_spent_monitoring', 'location', 'of_animals', 'pep_response',
       'police_response', 'property', 'rehabilitator', 'species_description',
       'species_status'],
      dtype='object')

In [22]:
# let's limit a few of these columns for now 

df[['species_description', 'species_status', 'animal_condition', 'final_ranger_action','location', 'borough']][0:10]

,species_description,species_status,animal_condition,final_ranger_action,location,borough
0,Chicken,Domestic,Injured,ACC,Comfort Station Near 73rd Avenue and Francis L...,Queens
1,Raccoon,Native,NaN,Unfounded,Behind the barn,Queens
2,raccoon,Native,Injured,Unfounded,73rd Street & Springfield Avenue,Queens
3,N/A,Native,N/A,Unfounded,NaN,Brooklyn
4,Double crested cormorant,Native,Unhealthy,Rehabilitator,"Harlem Meer, 106 street and 5 Avenue",Manhattan
5,Canada goose,Native,Injured,ACC,158th Street near water,Queens
6,Cormorant,Native,Unhealthy,Unfounded,Harlem Meer,Manhattan
7,Turtle,N/A,N/A,Unfounded,Willowbrook Pond,Staten Island
8,Raccoon,Native,Healthy,Relocated/Condition Corrected,Met museum on 84st/5ave by flagpole/vendors,Manhattan
9,Skunk,Native,NaN,Unfounded,Back playground perimeter near a garbage can.,Queens

In [46]:
# what about the unique species from the last quarter 
df.species_description.unique()

array(['Chicken', 'Raccoon', 'raccoon', 'N/A', 'Double crested cormorant',
       'Canada goose', 'Cormorant', 'Turtle', 'Skunk', 'bird of prey',
       "Cooper's Hawk", 'Mallard Duck', 'Rock Dove', nan,
       'Red-Tailed Hawk', 'Beagle - Dog', 'Cat', 'Squirrel',
       'Canada Goose', 'Banded Rock Pigeon', 'Eastern Gray Squirrel',
       'Dog', 'Coopers Hawk', 'Mallard', 'White Tailed Deer',
       'Painted turtle', 'Black Skimmer', 'Hummingbird', 'Green Heron',
       'Swan', 'Black Racer Snake', 'Homing Pigeon',
       '2 black back gulls and 1 pigeon', 'Deer', 'Kittens', 'pet rabbit',
       'red tailed-hawk', 'pigeon', 'Dog, Yorkshire terrier',
       'Red-tailed Hawk', 'Rabbit', 'Bearded dragon', 'Red-tailed hawk',
       'Gerbil', 'Black backed gull', 'gull', 'White-tailed deer doe',
       'Juvenile Herring Gull', 'Mourning Dove', 'House Sparrow', 'Gull',
       'Red Tail', 'Iguana', 'Herring Gull', 'Red-eared Slider Turtle',
       'Peregrine Falcon', 'Kestrel', 'Raccoons', 'Red Bat',
       'Red Tailed Hawk', 'Opossum', 'Mallard duckling', 'crow',
       'Blue Jay', 'Mallard duck', 'Herring gull', 'Red-Eared Slider',
       'Squirrels', 'Mallard Ducklings', 'Infant Squirrel',
       'American Oystercatcher', 'opossum', 'dutch blue love bird',
       'double crested cormorant', 'RACCOON'], dtype=object)

In [47]:
#what? There was a deer in the city? What's that all about ?

df.loc[df['species_description'] == 'White Tailed Deer']

,_311sr_number,acc_intake_number,age,animal_class,animal_condition,animal_monitored,borough,call_source,date_and_time_of_initial,date_and_time_of_ranger,...,final_ranger_action,hours_spent_monitoring,location,of_animals,pep_response,police_response,property,rehabilitator,species_description,species_status
36,1-1-1613258202,40789,Infant,Deer,Unhealthy,0.0,Bronx,Central,2018-09-06T10:05:00.000,2018-09-06T10:05:00.000,...,ACC,NaN,Orchard Beach/ City Island Traffic Circle,1.0,0.0,1.0,Pelham Bay Park,NaN,White Tailed Deer,Native

Now, this is getting a little bit depressing. Some poor unhealthy infant deer was found in the Orchard Beach / City Island Traffic Circle, which (after plugging that into Google Maps) turns out to be a fairly rural area. Its not like some White Tailed Deer was wandering around Times Square. So, what happened to the deer? If you see the final_ranger_action column, you see a code called "ACC". Good thing that the documentation around the NYC Open Data sets is quite robust. This dataset came with an Excel Spreadsheet explaining all of the columns and any codes that might appear inside of them.  ACC stands for "Animal Care Center". So this baby deer was taken good care of. Maybe not such a sad story after all.

In [45]:
# Let's look into these turtles... 
df.loc[(df['species_description'] == 'Red-eared Slider Turtle') | (df['species_description'] == 'Turtle')]

,_311sr_number,acc_intake_number,age,animal_class,animal_condition,animal_monitored,borough,call_source,date_and_time_of_initial,date_and_time_of_ranger,...,final_ranger_action,hours_spent_monitoring,location,of_animals,pep_response,police_response,property,rehabilitator,species_description,species_status
7,NaN,NaN,Adult,Terrestrial Reptile or Amphibian,N/A,0.0,Staten Island,Employee,2018-09-19T13:31:00.000,2018-09-19T16:48:00.000,...,Unfounded,NaN,Willowbrook Pond,0.0,0.0,0.0,Willowbrook Park,NaN,Turtle,N/A
82,NaN,NaN,Adult;#Juvenile;#Infant,Terrestrial Reptile or Amphibian,N/A,0.0,Manhattan,"Conservancies/""Friends of"" Groups",2018-08-25T17:30:00.000,2018-08-25T17:45:00.000,...,Relocated/Condition Corrected,NaN,Dana Center,1.0,0.0,0.0,Central Park,NaN,Turtle,Invasive
243,N/A,NaN,Adult,Domestic,Healthy,0.0,Manhattan,Public,2018-08-02T14:45:00.000,2018-08-02T14:55:00.000,...,Advised/Educated others,NaN,Turtle Pond on East Drive and East 79th,1.0,0.0,0.0,Central Park,NaN,Red-eared Slider Turtle,Domestic

So, on August 2, at 2:55pm, some member of the public called in a turtle sighting at the "Turtle Pond on E. Drive and E. 79th". From the row of data, it looks like this turtle was healthy - probably minding its own business at the "Turtle Pond". The responding ranger's action was "Advised and Educated Others".

In [41]:
unfounded = df.loc[df['final_ranger_action'] == 'Unfounded']
len(unfounded)

86